$time-animation: 1s;
$first-color: #16dd20;
$second-color: #0d3ec5;
$width: 40px;
$height: 40px;

.local-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  position: relative;
  width: $width;
  height: $height;
  animation: lds-ring $time-animation cubic-bezier(0.3, 0.9, 0.7, 0) infinite;
}

.loader-one div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: $width * 0.8;
  height: $height * 0.8;
  margin: $width/10;
  border: $width/15 solid $first-color;
  border-radius: 50%;
  animation: lds-ring $time-animation cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: transparent transparent $first-color transparent;
}

.loader-one div:nth-child(1) {
  animation-delay: -$time-animation/4;
}

.loader-one div:nth-child(2) {
  animation-delay: -$time-animation/8;
}

.loader-two div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: $width * 0.8;
  height: $height * 0.8;
  margin: $width/10;
  border: $width/15 solid $second-color;
  border-radius: 50%;
  animation: lds-ring $time-animation cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $second-color transparent transparent transparent;
}

.loader-two div:nth-child(1) {
  animation-delay: -$time-animation/4;
}

.loader-two div:nth-child(2) {
  animation-delay: -$time-animation/8;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}