$time-animation: 1s;
$first-color: #111;
$second-color: #222;
$third-color: #333;
$width: 70px;
$height: 70px;
$background_liner_gradient: linear-gradient(90deg,
  rgba(159, 160, 159, 0.89) 0%,
  rgba(255, 255, 255, 0.226) 100%);

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $background_liner_gradient;
  z-index: 999;
  opacity: 1;
  visibility: visible;


  .general-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $height;
    perspective: 780px;
  }

  &.done {
    opacity: 0;
    visibility: hidden;
  }

  &.open {
    background: rgba(0, 0, 0, .7);

    .cssload-loader {
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-30%, -50%);
      width: $width;
      height: $height;
      perspective: 780px;
    }
  }

  .inner-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    &.loader-one {
      left: 0%;
      top: 0%;
      animation: cssload-rotate-one 1.15s linear infinite;
      -o-animation: cssload-rotate-one 1.15s linear infinite;
      -ms-animation: cssload-rotate-one 1.15s linear infinite;
      -webkit-animation: cssload-rotate-one 1.15s linear infinite;
      -moz-animation: cssload-rotate-one 1.15s linear infinite;
      border-bottom: $width/30 solid $first-color;
    }

    &.loader-two {
      right: 0%;
      top: 0%;
      animation: cssload-rotate-two 1.15s linear infinite;
      -o-animation: cssload-rotate-two 1.15s linear infinite;
      -ms-animation: cssload-rotate-two 1.15s linear infinite;
      -webkit-animation: cssload-rotate-two 1.15s linear infinite;
      -moz-animation: cssload-rotate-two 1.15s linear infinite;
      border-right: $width/30 solid $second-color;
    }

    &.loader-three {
      right: 0%;
      bottom: 0%;
      animation: cssload-rotate-three 1.15s linear infinite;
      -o-animation: cssload-rotate-three 1.15s linear infinite;
      -ms-animation: cssload-rotate-three 1.15s linear infinite;
      -webkit-animation: cssload-rotate-three 1.15s linear infinite;
      -moz-animation: cssload-rotate-three 1.15s linear infinite;
      border-top: $width/30 solid $third-color;
      ;
    }

  }

  @keyframes cssload-rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-one {
    0% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-one {
    0% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-one {
    0% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-two {
    0% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-two {
    0% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-two {
    0% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-o-keyframes cssload-rotate-three {
    0% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes cssload-rotate-three {
    0% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes cssload-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes cssload-rotate-three {
    0% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
}