.audio-player {
  margin: 10px 40px 8px 0;
  width: 100%;
  min-width: 100px;
}

.group-quiz {
  .rhap_container {
    color: #00bc8c;
    background-color: #303030;
    box-shadow: none;
    padding: 0;
    margin: 5px 0px;
    display: flex;
  }

  .rhap_volume-controls {
    justify-content: center;
  }
  .rhap_progress-section {
    display: flex;
    flex: 3 1 auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }

  .rhap_time {
    flex: 0 1 50%;
    order: 2;
  }

  .rhap_progress-container {
    flex: 0 1 100%;
    order: 1;
    margin: 15px 0 0 5px;
  }

  .rhap_total-time {
    flex: 0 1 50%;
    order: 3;
    text-align: right;
  }

  .rhap_additional-controls {
    display: none;
  }

  .rhap_main {
    color: #00bc8c;
    background-color: #303030;
  }
}

.group-quiz .rhap_current-time,
.group-quiz .rhap_total-time {
  color: #00bc8c;
}

// .rhap_main {
//   color: #00bc8c;
//   background-color: #303030;
// }

.controls {
  display: flex;
  align-items: center;
}

.playback-button {
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border: 2px solid #00bc8c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.playback-button svg {
  transition: 0.2s;
  width: 18px;
  height: 18px;
  color: #54b1c1;
}

.playback-button:hover svg {
  width: 18px;
  height: 18px;
  color: #00bc8c;
  transform: scale(1.03);
}

.timebar {
  flex: 1 1;
  margin-top: 12px;
}

.timebar-bar {
  height: 4px;
}

.timebar-circle {
  background-color: grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  transform: translate(-50%, calc(-50% + 2px));
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.timebar-time-info {
  margin-top: 8px;
  font-size: 11px;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
}
