.random-quiz {
  display: flex;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #303030;
  border-radius: 0.3rem;
}

.random-quiz .quiz-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0px;
  border-top-width: 0;
}

.random-quiz>div {
  width: calc(100% - 240px);
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.random-quiz .group-quiz {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 40px;
}

.random-quiz .group-quiz-item {
  padding: .25rem;
  position: relative;
  display: block;
  background-color: #303030;
  border: 1px solid #555;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

h3 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.random-quiz .group-quiz-item:first-child {
  border-top-width: 0;
}

.random-quiz .group-quiz-item:last-child {
  border-bottom-width: 0;
}

@media (max-width: 570px) {
  .random-quiz {
    flex-direction: column;
  }

  .random-quiz>div {
    width: 100%;
    margin: 0;
  }

  .random-quiz .bird-image {
    margin: 0 auto 25px;
  }

  .random-quiz .group-quiz {
    margin-left: 0px;
  }

  h3 {
    text-align: center;
  }
}