.group-quiz {
  .rhap_container {
    color: #00bc8c;
    background-color: #303030;
    box-shadow: none;
    padding: 0;
    margin: 5px 0px;
    display: flex;
  }

  .rhap_main {
    .rhap_volume-controls {
      justify-content: center;
    }

    .rhap_progress-section {
      display: flex;
      flex: 3 1 auto;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;

      .rhap_time {
        flex: 0 1 50%;
        order: 2;
      }
    }

    .rhap_controls-section {
      margin-right: 25px;
    }


    .rhap_progress-container {
      flex: 0 2 100%;
      order: 1;
      margin: 15px 0 0 5px;
    }

    .rhap_total-time {
      flex: 0 1 50%;
      order: 3;
      text-align: right;
    }

    .rhap_additional-controls {
      display: none;
    }

    .rhap_current-time,
    .rhap_total-time {
      font-size: 10px;
      color: #d3d3d3;
    }
  }

  @media (max-width: 400px) {
    .rhap_main {
      .rhap_progress-section {
        width: 0;
      }
    }
  }
}