.header ul.categories {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.header ul li {
  flex: auto;
  text-align: center;
}


.header ul li a {
  cursor: auto;

  border-radius: 0 !important;
}

.category .category-link {
  background-color: #008966;
  border-color: #007c5d;
}

.category.active .category-link {
  background-color: #00bc8c;
  border-color: #007c5d;
}

a {
  color: #00bc8c;
  text-decoration: none;
  background-color: transparent;
}

.category-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #00bc8c;
  border: 0 solid transparent;
}