@import './common/common.scss';
@import './header/header.scss';
@import './random-bird/random-bird.scss';
@import './answer-bird/answer-bird.scss';
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");