@import './option-answers.scss';
@import './bird-card.scss';

* {
  box-sizing: border-box;
}

.answer-bird {
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.answer-list {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  margin: 25px 15px;
  background-color: #303030;
  border: 1px solid #444;
  color: #fff !important;
  cursor: auto;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.column {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 768px) {
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}