.item-list {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;

  .item-list-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #303030;
    border: 1px solid #444;
  }

  .item-list-item {
    padding: .85rem 1.25rem;
    background-color: #303030;
    border: 1px solid #555;
  }

  .item-list-item {
    cursor: pointer;
  }

  .item-list-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .item-list-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}